name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
      with:
        lfs: 'true'
        submodules: 'recursive'

    - uses: actions/setup-python@v5
      name: Setup Python
      with:
        python-version: '3.11'

    - name: Install build dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel build pytest

    - name: Build wheel
      run: |
        python -m build

    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: wheels
        path: ./dist